body {
	margin: 4vw;
	font-family: 'Open Sans', sans-serif;


}

#container {
	clear: both;
	overflow: hidden;
	/*display: table;*/
}

#nav {
	/*box-sizing: border-box;*/
	display: block;
	width: 20%;
	height: 100%;
	float: left;
	margin: 0.5vw;
	/*background-color: gray;*/
	clear: both;
	margin-right: 4vw;
}

#nav h1 {
	font-family: Serif;
	transition: transform 1s ease;
	cursor: pointer;
}

#nav h1:hover {
	transform: rotateX(180deg);
}

#content {
	/*box-sizing: border-box;*/
	width: 70%;
	height: 100%;
	float: left;

}